.SearchInput, h1, h3 {
    display: flex;
    justify-content: center;
}
.SearchBox {
    width: 500px;
    height: 30px;
}
#nav-container {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    height: 80px;
    background-color: orange;
    text-align: center;
}

#nav-container ul {
    display: flex;
    list-style-type:none;
    /* margin-top: auto;
    margin-bottom: auto; */
}

#nav-container > ul{
    display:flex;
    font-size: 2em;
    flex-direction: row;
}

#nav-container > ul > li{
    flex-basis: 10%;
    
}
#nav-container a {
    text-decoration: none;
}
#nav-container div {
    border: 2px black solid;
    border-radius: 25px;
    margin-left: 10px;
}
#nav-container div {
    text-align: center;
    margin: 10px;
    font-size: 25px;
    padding: 1ch;
    width:100px;
}
li:nth-child(1) {
    flex: 0 0 100%;
    margin: 0 auto;
    padding: 0;
}
#AnimImages {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
img {
    width: 10em;
    justify-self: flex-start;
    height: 20em;;
}
.Anime {
    width: 160px;
    height: 320px;
    background-color: white;
    
}
.Anime:hover p {
    display: block;
}
.Anime:hover {
    animation-name: getLarge;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.Anime:hover img {
    opacity: 0.5;
    color: black;
}
p {
    position: relative;
    display: none;
    top: -330px;
    font-weight: bolder;
    width: 100px; 
    font-size: large;
}

@keyframes getLarge {
    from {scale: 1;}
    to {scale: 1.2;}
}

a {
    text-decoration: none;
    color: black;
}